.displaybar {
  flex: 1;
  margin: 1em 0;
  width: 20em;
  overflow: auto;
}

.displaybar::-webkit-scrollbar {
  display: none;
}

.displaylist {
  padding: 0 1em;
  border-radius: 1em;
  cursor: pointer;
  letter-spacing: 1px;
  height: 1.8em;
  line-height: 1.8em;
  transition: all 0.1s;
}

.displaylist:hover {
  letter-spacing: 5px;
  text-shadow: 0px 0px 5px #ddd;
}

.displaylist span {
  color: gold;
}

.displaybar a {
  color: inherit;
}

.displaylist:hover a {
  color: inherit;
}
